<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Document-1</h1>
    <br/>
   {% comment %} {{sa.name.label_tag}} {{sa.name}}
   <br/>
   {{sa.email.label_tag}} {{sa.email}}
   <br/>
   {{sa.city.label_tag}} {{sa.city}}
   <br/>
   {{sa.contact.label_tag}} {{sa.contact}} {% endcomment %}

   <form action="">
    <label for="">name</label> {{sa.name}}
    <label for="">email</label> {{sa.email}}
   </form>

</body>
</html>