<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
   
</head>
<body>
    {% include 'core/navbar.html'%}
    {% comment %} {% block hero %} {% endblock hero%} {% endcomment %}
    {% block content %} {% endblock content %}
    {% block footer %} {% endblock footer %}


 
  
    
    
</body>
</html>